html,
body {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  justify-content: center;
  height: auto;
  width: 100%;
}

.container {
  padding: 5px;
  border: 1px solid black;
  height: auto;
  width: auto;
}

.none {
  display: none;
}
